



<div class="container overflow-auto mb-4">
    <table id="cart" class="table text-center bg-white ">
          <tr>
            <th class="text-center" style="width: 30%;">การจัดการ</th>
            <th class="text-center" style="width: 30%;">สถานะ</th>
            <th class="text-center" style="width: 5%;">มูลค่า</th>
            <th class="text-center" style="width: 5%;">จำนวนชิ้น</th>
            <th class="text-center" style="width: 30%;">Order Id</th>
          </tr>
          <%orders.forEach((element)=>{%>
          <tbody>
            <tr>
              <td  data-th="จัดการ"><a href="/order/<%=element.orderId%>" <%if(element.status!='ยังไม่ได้ส่งหลักฐานการชำระเงิน'){%>class="btn btn-success" inert<%}else{%>class="btn btn-warning"<%}%>>ยึนยันการชำระเงิน</a></td>
              <td  data-th="สถานะ"><%=element.status%></td>
              <td  data-th="มูลค่า"><%=element.total%></td>
              <td  data-th="จำนวนสิ่งของ"><%=element.totalQuantity%></td>
              <td  data-th="Order Id"><%=element.orderId%></td>
            </tr>
          </tbody>
          <%})%>
    </table>
</div>




