



<div class="container overflow-x-auto w-screen mb-4 p-0">
    <table id="cart" class="table text-center bg-white">
          <tr>
            <th class="text-center" >การจัดการ</th>
            <th class="text-center" >สถานะ</th>
            <th class="text-center" >มูลค่า</th>
            <th class="text-center" >จำนวนชิ้น</th>
            <th class="text-center" >Order Id</th>
          </tr>
          <%orders.forEach((element)=>{%>
          <tbody>
            <tr>
              <td  data-th="จัดการ"><a href="/order/<%=element.orderId%>" <%if(element.status!='ยังไม่ได้ส่งหลักฐานการชำระเงิน'){%>class="btn btn-success" inert<%}else{%>class="btn btn-warning"<%}%>>ยึนยันการชำระเงิน</a></td>
              <td  data-th="สถานะ"><%=element.status%></td>
              <td  data-th="มูลค่า"><%=element.total%> บาท</td>
              <td  data-th="จำนวนสิ่งของ"><%=element.totalQuantity%></td>
              <td  data-th="Order Id"><%=element.orderId%></td>
            </tr>
          </tbody>
          <%})%>
    </table>
</div>




