<form action="/" method="POST">
    <div class="col-md-4">
        <div class="thumbnail">
          <img src="<%=goodsImage%>" alt="" class="img-responsive">
          <div class="caption">
            <h4 class="pull-right"><%=goodsPrice%> บาท</h4>
            <h4><a href="#"><%=goodsName%></a></h4>
            <p><%=goodsDesc%>></p>
          </div>
          <div class="ratings">
            <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
               (<%=goodsReview%> reviews)
            </p>
          </div>
          <div class="space-ten"></div>
          <div class="btn-ground text-center">
              <button type="submit" class="btn btn-primary" name="selectedItem" value="<%=goodsName%>"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
          </div>
          <div class="space-ten"></div>
        </div>
      </div>
</form>

