
  <div class="card card-compact w-96 bg-white shadow-xl">
    <figure><img src="<%=goodsImage%>"/></figure>
    <div class="card-body">
      <h2 class="card-title"><%=goodsName%>
        
      </h2>
      <p><%=goodsDesc%></p>
      <div class="flex justify-end">
        <div class="badge badge-secondary justify-end"><%=goodsPrice%> บาท</div>
      </div>
      <div class="card-actions justify-end">
      <form action="/cart" method="POST">
        <button type="submit" class="btn btn-primary" name="selectedItem" value="<%=goodsName%>"><i class="fa fa-shopping-cart"></i>Add To Cart</button>
      </form>
      </div>
    </div>
  </div>




