<%-include("partials/header.ejs")-%>

<div class="container" style="padding: 25px">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h3 class="panel-label">วันที่</h3>
      <div class="panel panel-default daybox">
        <div class="panel-body"><%=day%></div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <h3 class="panel-label">รวมทั้งสิ้น</h3>
      <div class="panel panel-default commissionbox">
        <div class="panel-body"><%=childIncome+sponsorIncome%> บาท</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h3 class="panel-label">รายได้จากค่าจับคู่</h3>
      <div class="panel panel-default commissionbox">
        <div class="panel-body"><%=childIncome%> บาท</div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <h3 class="panel-label">รายได้จากค่าแนะนำ</h3>
      <div class="panel panel-default commissionbox">
        <div class="panel-body"><%=sponsorIncome%> บาท</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h3 class="panel-label">ช่องคงเหลือในผัง</h3>
      <div class="panel panel-default commissionbox">
        <div class="panel-body">
          <%if(!emptySlot){%>
          <a href="/"><div style="color: red">ผังเต็มแล้ว!</div></a>
          <%}else{%> <%=emptySlot%> คน <%}%>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12" style="text-align: center;">
      <h3 class="panel-label">จำนวนคนที่เชิญ</h3>
      <div class="panel panel-default commissionbox">
        <div class="panel-body"><%=sponsorChild%> คน</div>
      </div>
      <a class="invite" href="#" style="font-weight: 400; font-size: medium;">กดเพื่อรับลิ้งค์เชิญ</a>
    </div>
  </div>
</div>


<div class="container" style="padding: 25px">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="container smallmlm">
        <a href="user/<%=userName.username%>">
          <div class="row" style="text-align: center">
            <div class="col-md-12">
              <i class="fa-solid fa-person fa-7x" style="color: red"></i>
              <h1><%=userName.username%></h1>
            </div>
          </div>
  
          <div id="lev2" class="row" style="text-align: center"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="container smallmlm" style="padding: 25px">
        <a href="user/<%=userName.username%>/sponsor">
          <div class="row" style="text-align: center">
            <div class="col-md-12">
              <i class="fa-solid fa-person fa-7x" style="color: red"></i>
              <h1><%=userName.username%></h1>
            </div>
  
            <div class="row" style="text-align: center">
              <%sponsored.slice(-3).forEach((element)=>{%>
              <div class="col-xs-4">
                <i class="fa-solid fa-person fa-6x" style="color: darkorange"></i>
                <p style="font-size: 30px"><%=element.username%></p>
              </div>
              <%})%>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<input id='username' hidden value="<%=userName.username%>">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
    const Child = <%-JSON.stringify(Child)%>;
    const lev2Array = [...new Set(Child.map(item => item.lev2))];
    var empty=0
    if(!lev2Array){empty++}
    lev2Array.forEach((e)=>{
    if(!e){return}
    var temp = "<div class='col-xs-6'>"+
    "<a href='/user/"+e+"'>"+
      "<i class='fa-solid fa-person fa-6x' style='color: blue'></i>"+
      "<p style='font-size: 30px'>"+e+"</p>"+
    "</a>"+
    "</div>"
    $("#lev2").append(temp)
    empty++
    })
    for (var i = empty; i < 32/16; i++) {
    var temp = "<div class='col-xs-6'>"+
      "<i class='fa-solid fa-person fa-6x' style='color: darkgray'></i>"+
      "</div>"
    $("#lev2").append(temp)
    }
</script>

<script src="/js/account_script.js"></script>

<%-include("partials/footer.ejs")-%>
