
<%-include("partials/header.ejs")-%>

<div class="container" style="padding: 25px;">
    <div class="row">
        <h3 class="panel-label">วันที่</h3>
        <div class="panel panel-default daybox">
          <div class="panel-body">
            <%=day%>
          </div>
        </div>
    </div>
  </div>

<div class="container" style="padding: 25px;">
  <div class="row">

    <%-include('admintools/userdata.ejs')-%>
    <%-include('admintools/userdata.ejs')-%>
    <%-include('admintools/userdata.ejs')-%>
    
  </div>
</div>




<%-include("partials/footer.ejs")-%>