<%-include("partials/header.ejs")-%>

<%-include("partials/widget.ejs",{day: day, link: null})-%>


<div class="container dashboard">
  <div class="row">
    <%-include('admintools/infodata.ejs',{ShowData: "จำนวนสมาชิกในระบบ",ShowNum:usersAmount})-%> 
    <%-include('admintools/infodata.ejs',{ShowData:"จำนวนสมาชิกที่ถูกเพิ่มวันนี้",ShowNum: '+'+currentDayAmount})-%>
    <%-include('admintools/infodata.ejs',{ShowData:"Temp",ShowNum: 'Temp'})-%>
    <%-include('admintools/infodata.ejs',{ShowData:"Temp",ShowNum: 'Temp'})-%>
    <%-include('admintools/userdata.ejs',{link:'userdata',icon:'fa-table fa-8x',context:'Users Data'})-%> 
    <%-include('admintools/userdata.ejs',{link:'tree',icon:' fa-timeline fa-8x',context:'Users Tree'})-%>
    <%-include('admintools/userdata.ejs',{link:'',icon:'fa-bug fa-8x',context:'Temp'})-%>
    <%-include('admintools/userdata.ejs',{link:'',icon:'fa-bug fa-8x',context:'Temp'})-%>
  </div>
</div>

<%-include("partials/footer.ejs")-%>
