
<%-include("partials/header.ejs")-%>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <%-include("partials/goods.ejs")-%>
    <%-include("partials/goods.ejs")-%>
    <%-include("partials/goods.ejs")-%>
  </div>
</div>


<%-include("partials/product_quickviews.ejs")-%>

<%-include("partials/footer.ejs")-%>