<div class="divider my-5 sm:my-20 invisible"></div>



<div class="sm:container max-w-screen-md mx-10 sm:mx-20">

  <div class="container bg-gray-100 rounded-3xl p-4 mb-4">
    <div class="sm:container grid grid-cols-2 sm:grid-cols-3 grid-rows-3 sm:grid-rows-2 gap-4 mb-4  text-center justify-items-center">

      <div class="col-span-2 sm:col-span-1 card w-48 bg-secondary shadow-xl">
        <div class="card-body justify-center">
          <h2 class="card-title justify-center text-white"><%=day%></h2>
        </div>
      </div>
    
      <div class="col-span-2 sm:col-span-1 card w-48 bg-secondary shadow-xl">
        <div class="card-body">
          <h2 class="card-title justify-center text-white">รวมทั้งสิ้น</h2>
          <h2 class="card-title justify-center text-white"><%=childIncome+sponsorIncome%> บาท</h2>
        </div>
      </div>
    
    
      <div class="col-span-2 sm:col-span-1 card w-48 bg-secondary shadow-xl">
        <div class="card-body">
          <h2 class="card-title justify-center text-white">ค่าจับคู่ที่ได้</h2>
          <h2 class="card-title justify-center text-white"><%=childIncome%> บาท</h2>
        </div>
      </div>
    
      <div class="col-span-2 sm:col-span-1 card w-48 bg-secondary shadow-xl">
        <div class="card-body">
          <h2 class="card-title justify-center text-white">ค่าแนะนำที่ได้</h2>
          <h2 class="card-title justify-center text-white"><%=sponsorIncome%> บาท</h2>
        </div>
      </div>
    
    
      <div class="col-span-2 sm:col-span-1 card w-48 bg-secondary shadow-xl">
        <div class="card-body">
          <h2 class="card-title justify-center text-white">ผังคงเหลือ</h2>
          <h2 class="card-title justify-center text-white">
            <%if(!emptySlot){%>
              <a href="/"><div class="text-white">ผังเต็มแล้ว!</div></a>
              <%}else{%> <%=emptySlot%> คน <%}%>
          </h2>
        </div>
      </div>
    
      <div class="col-span-2 sm:col-span-1 card w-48 bg-secondary shadow-xl">
        <div class="card-body">
          <h2 class="card-title justify-center text-white">ลูกเครือข่าย</h2>
          <h2 class="card-title justify-center text-white">
            <%=sponsorChild%> คน
          </h2>
        </div>
      </div>
    </div>
    
    <div class="text-center">
      <a class="btn btn-primary invite mb-4">กดเพื่อรับลิ้งค์เชิญ</a>
    
    </div>

  </div>




<div class="divider my-10 sm:my-15 invisible"></div>



<div class="md:container grid grid-cols-1 sm:grid-cols-2 grid-rows-2 sm:grid-rows-1 gap-4 mb-4 text-center justify-items-center overflow-x-auto">
    <div class="container bg-white rounded-3xl py-4">
      <a href="user/<%=userName.username%>">
        <div class="row" style="text-align: center">
          <div class="col-md-12">
            <i class="fa-solid fa-person fa-7x" style="color: red"></i>
            <h1><%=userName.username%></h1>
          </div>
        </div>

        <div id="lev2" class='grid grid-cols-2'></div>
      </a>
    </div>
    <div class="container bg-white rounded-3xl p-2 py-4">
      <a href="user/<%=userName.username%>/sponsor">
            <i class="fa-solid fa-person fa-7x" style="color: red"></i>
            <h1><%=userName.username%></h1>

          <div class='grid grid-cols-3'>
            <%sponsored.slice(-3).forEach((element)=>{%>
              <div>
                <i class="fa-solid fa-person fa-6x" style="color: darkorange"></i>
                <h1><%=element.username%></h1>
              </div>
            <%})%>
          </div>
      </a>
    </div>
</div>

<div class="divider my-10 sm:my-20 invisible"></div>
</div>



<input id='username' hidden value="<%=userName.username%>">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const Child = <%-JSON.stringify(Child)%>;
    const lev2Array = [...new Set(Child.map(item => item.lev2))];
    var empty=0
    if(!lev2Array){empty++}
    lev2Array.forEach((e)=>{
    if(!e){return}
    var temp = `  <div>
      <a href='/user/${e}'>
    <i class="fa-solid fa-person fa-6x" style="color: blue;"></i>
    <h1>${e}</h1>
  </a>
  </div>`
    $("#lev2").append(temp)
    empty++
    })
    for (var i = empty; i < 32/16; i++) {
    var temp = `  <div>
    <i class="fa-solid fa-person fa-6x" style="color: darkgray;></i>
  </div>`
    $("#lev2").append(temp)
    }
</script>

<script src="/js/account_script.js"></script>

