


<%-include("../partials/widget.ejs",{day: day, link: 'user'})-%>

<div class="flex flex-col md:container overflow-x-auto  bg-white rounded-3xl p-10 mb-4">
  <div class="grid justify-center">
    <a href="/user">
      <i class="fa-solid fa-person fa-7x" style="color: red"></i>
      <h1><%=userName.username%></h1>
    </a>
  </div>
  
  <div id="lev2" class='flex sm:grid grid-cols-2'>
  </div>
  
  <div id="lev3" class='flex sm:grid grid-cols-4'>
  </div>
  
  <div id="lev4" class='flex sm:grid grid-cols-8'>
  </div>
  
  <div id="lev5" class='flex sm:grid grid-cols-16'>
  </div>
  
  <div class='flex sm:grid grid-cols-32'>
    <%var count=0%>
    <%for(var i=0; i<Child.length;i++){%>
    <%if(!Child[i].lev6){continue}%>
    <div class='flex-1 justify-center'>
      <a href="/user/<%=Child[i].lev6%>" class='flex flex-col items-center'>
        <i class="fa-solid fa-person fa-2x" style="color: gray"></i>
        <p style="font-size: 12px"><%=Child[i].lev6%></p>
      </a>
    </div>
    <%count++}%>
    
    <%for(var i=count;i<32;i++){%>
      <div class='flex-1 justify-center'>
          <i class="fa-solid fa-person fa-2x" style="color: darkgray"></i>
          <p></p>
      </div>
    <%}%>

    
  
  </div>
  
</div>

<script>
  const Child = <%-JSON.stringify(Child)%>;
  const lev2Array = [...new Set(Child.map(item => item.lev2))];
  const lev3Array = [...new Set(Child.map(item => item.lev3))];
  const lev4Array = [...new Set(Child.map(item => item.lev4))];
  const lev5Array = [...new Set(Child.map(item => item.lev5))];

  var empty=0
  if(!lev2Array){empty++}
  lev2Array.forEach((e)=>{
    if(!e){return}
    var temp = "<div class='flex-1 justify-center'>"+
    "<a href='/user/"+e+"'' class='flex flex-col items-center'>"+
      "<i class='fa-solid fa-person fa-6x' style='color: blue'></i>"+
      "<p style='font-size: 30px'>"+e+"</p>"+
    "</a>"+
  "</div>"
    $("#lev2").append(temp)
    empty++
  })
  for (var i = empty; i < 32/16; i++) {
    var temp = "<div class='flex-1 justify-center'>"+
      "<i class='fa-solid fa-person fa-6x' style='color: darkgray'></i>"+
      "</div>"
    $("#lev2").append(temp)
  }

  empty=0
  lev3Array.forEach((e)=>{
    if(!e){return}
    var temp = "<div class='flex-1 justify-center'>"+
    "<a href='/user/"+e+"'' class='flex flex-col items-center'>"+
      "<i class='fa-solid fa-person fa-5x' style='color: darkgreen'></i>"+
      "<p style='font-size: 30px'>"+e+"</p>"+
    "</a>"+
  "</div>"
    $("#lev3").append(temp)
    empty++
  })
  for (var i = empty; i < 32/8; i++) {
    var temp = "<div class='flex-1 justify-center'>"+
      "<i class='fa-solid fa-person fa-5x' style='color: darkgray'></i>"+
      "</div>"
    $("#lev3").append(temp)
  }

  empty=0
  lev4Array.forEach((e)=>{
    if(!e){return}
    var temp = "<div class='flex-1 justify-center'>"+
    "<a href='/user/"+e+"'' class='flex flex-col items-center'>"+
      "<i class='fa-solid fa-person fa-4x' style='color: purple'></i>"+
      "<p style='font-size: 20px'>"+e+"</p>"+
    "</a>"+
  "</div>"
    $("#lev4").append(temp)
    empty++
  })
  for (var i = empty; i < 32/4; i++) {
    var temp = "<div class='flex-1 justify-center'>"+
      "<i class='fa-solid fa-person fa-4x' style='color: darkgray'></i>"+
      "</div>"
    $("#lev4").append(temp)
  }

  empty=0
  lev5Array.forEach((e)=>{
    if(!e){return}
    var temp = "<div class='flex-1 justify-center'>"+
    "<a href='/user/"+e+"'' class='flex flex-col items-center'>"+
      "<i class='fa-solid fa-person fa-3x' style='color: palevioletred'></i>"+
      "<p style='font-size: 12px'>"+e+"</p>"+
    "</a>"+
  "</div>"
    $("#lev5").append(temp)
    empty++
  })
  for (var i = empty; i < 32/2; i++) {
    var temp = "<div class='flex-1 justify-center'>"+
      "<i class='fa-solid fa-person fa-3x' style='color: darkgray'></i>"+
      "</div>"
    $("#lev5").append(temp)
  }
</script>



