

<div class="overflow-auto mb-4 mx-4 p-0">
  <table id="cart" class="table table-sm text-center bg-white  ">

      <tr>
        <th class="text-center" >สินค้า</th>
        <th class="text-center" >รายละเอียด</th>
        <th class="text-center" >ราคา</th>
        <th class="text-center" >จำนวน</th>
        <th class="text-center" >รวม</th>
        <th class="text-center" >ลบ</th>
      </tr>


      <%cart.forEach((element)=>{%>
      <tbody>
        <tr>
          <td data-th="Product" class="flex justify-center">
            <img class="w-32 sm:w-56 h-auto" src="<%=element.goodsImage%>" alt="...">
          </td>
          <td  data-th="Product">
            <h4 class=""><%=element.goodsName%></h4>
            <p><%=element.goodsDesc%></p>
          </td>
          <td  data-th="Price"><%=element.goodsPrice%> บาท</td>
          <td  data-th="Quantity"><%=element.quantity%></td>
          <td  data-th="Subtotal" class="text-center">
            <%=element.goodsPrice*element.quantity%> บาท
          </td>
          <td  class="actions" data-th="">
            <form action="/cart/delete" method="post">
            <button
              type="submit"
              class="btn btn-danger btn-sm"
              name="selectedItem"
              value="<%=element.goodsName%>"
            >
              <i class="fa fa-trash-o"></i>
            </button>
          </form>
          </td>
        </tr>
      </tbody>
      <%})%>


    <tfoot>
        <td>
          <a href="/" class="btn btn-warning"
            >Continue Shopping</a
          >
        </td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center">
          <strong>Total <%=total%> บาท</strong>
        </td>
        <td>
          <a
            href="/cart/checkout"
            class="btn btn-success btn-block"
            name="total"
            >Checkout</a>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
